footer {
    background: rgb(0 0 0 / 85%);
    backdrop-filter: blur(24px) saturate(160%);
    -webkit-backdrop-filter: blur(24px) saturate(160%);
    color: var(--color-neutral-50);
    font: var(--type-body-2-default-font);
    letter-spacing: var(--type-body-2-default-letter-spacing);
    position: relative;
}

footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(
        90deg,
        transparent,
        rgb(136 33 244 / 25%) 30%,
        rgb(109 40 217 / 30%) 50%,
        rgb(5 150 105 / 20%) 70%,
        transparent
    );
    pointer-events: none;
}

footer .footer > div {
    margin: auto;
    max-width: 1200px;
    padding: 40px 24px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

footer .footer div.storeview-switcher-button button.storeview-switcher-button {
    color: rgb(255 255 255 / 80%);
}

footer .footer p {
    margin: 0;
    color: rgb(255 255 255 / 70%);
}

footer .footer img {
    width: 99px;
    height: auto;
}


footer .footer a {
    color: rgb(255 255 255 / 80%);
    transition:
        color 0.2s cubic-bezier(0.16, 1, 0.3, 1),
        text-shadow 0.2s cubic-bezier(0.16, 1, 0.3, 1);
}

footer .footer a:hover {
    color: #fff;
    text-shadow: 0 0 20px rgb(136 33 244 / 40%), 0 0 40px rgb(136 33 244 / 15%);
}

.storeview-switcher-button {
    background: transparent;
    padding-left: 0;
}

.storeview-modal-storeview-title {
    margin-bottom: var(--spacing-xxbig);
    padding-inline-start: var(--spacing-xbig);
}

.modal .close-button {
    top: 40px !important;
    right: 40px !important;
}

.storeview-single-store {
    list-style-type: none;
}

.storeview-selection .storeview-multiple-stores {
    list-style-image: url("../../icons/chevron-right.svg");
    list-style-position: inside;
}

.storeview-selection > li {
    margin-bottom: var(--spacing-small);
}

.storeview-multiple-stores > ul {
    position: relative;
    width: 100%;
}

.storeview-multiple-stores > ul > li {
    list-style: none;
    display: none;
}

.storeview-multiple-stores[aria-expanded="true"] {
    list-style-image: url("../../icons/chevron-down.svg");
}

.storeview-multiple-stores[aria-expanded="true"] > ul {
    padding-left: 0;
}

.storeview-multiple-stores[aria-expanded="true"] > ul > li {
    display: block;
    list-style-type: none;
    margin-bottom: var(--spacing-small);
}

@media (min-width: 900px) {
    footer .footer > div {
        padding: 40px 32px 24px;
    }
}
